*
!.gitignore
!fairbox.ahk
!README.md
!LICENSE
!why-no-travel-time-in-the-works.md
!pivot-nerf-case-review.md
!engineConstants.ahk
!fairbox-keyboard.ini
!hkIniAutogenerator.ahk
!targetObjStructure.ahk
!targetCoordinateValues.ahk 
!targetFormatting.ahk