*
!.gitignore
!fairbox.ahk
!README.md
!LICENSE
!fairbox-kb-recalibrated.ini
!fairbox-keyboard.ini
!CREDITS.md
!analogZoneInfo
!analogZoneInfo/*
!analogZoneInfo/dashZone
!analogZoneInfo/dashZone/*
!analogZoneInfo/crouchZone
!analogZoneInfo/crouchZone/*
!analogZoneInfo/outOfDeadzone
!analogZoneInfo/outOfDeadzone/*
!system
!system/*
!controls
!controls/*
!coordinates
!coordinates/*
!docs
!docs/*
!menu
!menu/*
!limitOutputs
!limitOutputs/*
!technique
!technique/*
!technique/pivot
!technique/pivot/*
!technique/sdi
!technique/sdi/*
!technique/uncrouch
!technique/uncrouch/*
!test
!test/*