*
!.gitignore
!fairbox.ahk
!README.md
!LICENSE
!fairbox-kb-recalibrated.ini
!fairbox-keyboard.ini
!CREDITS.md
!analogZoneInfo
!analogZoneInfo/*
!system
!system/*
!controls
!controls/*
!coordinates
!coordinates/*
!docs
!docs/*
!gui
!gui/*
!limitOutputs
!limitOutputs/*
!technique
!technique/*
!technique/pivot
!technique/pivot/*
!technique/sdi
!technique/sdi/*
!test
!test/*